<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HBS_Shared.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <HBS_Shared.Properties.Settings>
            <setting name="MSG_INPUT_NUMBER" serializeAs="String">
                <value>Please input a number.</value>
            </setting>
            <setting name="MSG_INPUT_POSITIVE_NUMBER_WITHOUT_ZERO" serializeAs="String">
                <value>The valid number range is number &gt; 0.</value>
            </setting>
            <setting name="MSG_INPUT_POSITIVE_NUMBER_WITH_ZERO" serializeAs="String">
                <value>The valid number range is number ≥ 0.</value>
            </setting>
            <setting name="MSG_INPUT_NUMBER_RANGE_TEMPERATURE" serializeAs="String">
                <value>The valid temperature range is in between aaa ℃ ≤ Temperature ≤ bbb ℃.</value>
            </setting>
            <setting name="MSG_INPUT_NUMBER_RANGE_PRESSURE" serializeAs="String">
                <value>The valid pressure range is in between aaa mmAq ≤ Temperature ≤ bbb mmAq.</value>
            </setting>
            <setting name="MSG_CHECK_CHECKBOX" serializeAs="String">
                <value>You must select at least 1 gas type.</value>
            </setting>
            <setting name="MSG_INPUT_NUMBER_RANGE_FLOWRATE" serializeAs="String">
                <value>The valid pressure range is in between aaa N㎥/hr ≤ Flow Rate ≤ bbb N㎥/hr.</value>
            </setting>
            <setting name="MSG_INPUT_NUMBER_RANGE_CYCLE" serializeAs="String">
                <value>The valid cycle range is in between aaa ≤ Cycle(s) ≤ bbb.</value>
            </setting>
            <setting name="MSG_INPUT_VALUE_RANGE" serializeAs="String">
                <value>The valid range is in between aaa ≤ value(s) ≤ bbb.</value>
            </setting>
        </HBS_Shared.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
